<% provide(:title, 'Home') %>
<h1>こうがく祭HP村通信</h1>
<h2>記事一覧</h2>
<nav class="nav nav-pills">
	<li class="nav-item">
		<%= link_to "全てのタグ", root_path, class: "nav-link" %>
	</li>
	<% @tags.each do |tag| %>
		<li class="nav-item">
			<%= link_to "#{tag.name}(#{tag.taggings_count})", tag_path(tag.name), class: "nav-link" %>
		</li>
	<% end %>
</nav>

<%= will_paginate %>

<div class="list-group">
	<%= render @articles %>
</div>

<%= will_paginate %>
