<% provide(:title, 'Home') %>
<h1>こうがく祭HP村通信</h1>
<h2>記事一覧</h2>
<p>タグ</p>
<ul>
	<li><%= link_to "all", root_path %></li>
	<% @tags.each do |tag| %>
		<li><%= link_to "#{tag.name}(#{tag.taggings_count})", tag_path(tag.name) %></li>
	<% end %>
</ul>


<%= will_paginate %>

<%= render @articles %>

<%= will_paginate %>
