<%= form_with(model: @user, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name, "ユーザ名" %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :password, "パスワード" %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, "パスワード(確認のため再度入力してください)" %>
  <%= f.password_field :passowr_confirmation, class: 'form-control' %>

	<%= f.label :admin, class: "checkbox inline" do %>
		<%= f.check_box :admin %>
		<span>管理者権限を付与する</span>
	<% end %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
