<%= form_with(model: @article, local: true) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.label :subject %>
		<%= f.text_area :subject, class: "form-control"%>

		<%= f.label :tag_list, 'Tags' %>
		<%= f.text_field :tag_list, placeholder: "tag1,tag2,...", class: "form-control" %>

		<%= f.label :content %>
		<%= f.rich_text_area :content, class: "form-control" %>
	</div>
	<%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
