<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
		<%= tag.div class: 'container-flood' do %>
    	<%= render 'layouts/header' %>
		<% end %>
		<%= tag.div class: 'container-flood pt-3' do %>
			<%= tag.div class: 'col-auto' do %>
      	<% flash.each do |message_type, message| %>
        	<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      	<% end %>
			<% end %>
		<% end %>
		<%= tag.div class: 'container-flood' do %>
			<%= tag.div class: 'col-auto' do %>
      	<%= yield %>
			<% end %>
		<% end %>
		<%= tag.div class: 'container-flood' do %>
			<%= tag.div class: 'col-auto' do %>
      	<%= render 'layouts/footer' %>
				<%= tag.div class: 'mx-5 px-5' do %>
      		<%= debug(params) if Rails.env.development? %>
				<% end %>
			<% end %>
		<% end %>
  </body>
</html>
